In [36]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: [Number]
### Team Member Names: Arya Patel, [Name] & [Name]
### Team Strategy Chosen: RISKY

In [37]:
# Replace 'Tickers_Example.csv' with the actual ticker CSV file
ticker_file = 'Tickers_Example.csv'

# Read the CSV file into a pandas DataFrame with a single column
tickers_df = pd.read_csv(ticker_file, header=None, names=['Tickers'])

# Set the single column as the index
tickers_df.set_index('Tickers', inplace=True)

# Create an info cell for each ticker, saving time when filtering the tickers by volume and country.
info_column = {}
hist_column = {}
long_hist_column = {}
ticker_obj_lst = []

long_start_date = "2018-10-31"
start_date = "2023-01-01"
end_date = "2023-10-31"

tickers_df = tickers_df[~tickers_df.index.duplicated(keep='first')]
# Add info to dict
for ticker in tickers_df.index:
    yf_ticker = yf.Ticker(ticker)
    info_column[ticker] = yf_ticker.fast_info
    hist_column[ticker] = yf_ticker.history(start=start_date, end=end_date)
    long_hist_column[ticker] = yf_ticker.history(start=long_start_date, end=end_date)
    print('.', end='') # So we can tell if the code is running

# Create column for the info]
tickers_df['Info'] = pd.Series(info_column)
tickers_df['History'] = pd.Series(hist_column)
tickers_df['Long History'] = pd.Series(long_hist_column)
tickers_df

...

AGN: No timezone found, symbol may be delisted
AGN: No timezone found, symbol may be delisted

............

CELG: No timezone found, symbol may be delisted
CELG: No timezone found, symbol may be delisted

......

MON: No timezone found, symbol may be delisted
MON: No timezone found, symbol may be delisted

........

RTN: No timezone found, symbol may be delisted
RTN: No timezone found, symbol may be delisted

...........

,Info,History,Long History
Tickers,,,
AAPL,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
ABBV,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
ABT,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open Hig...
ACN,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
AGN,"lazy-loading dict with keys = ['currency', 'da...","Empty DataFrame Columns: [Open, High, Low, Clo...","Empty DataFrame Columns: [Open, High, Low, Clo..."
AIG,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
AMZN,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
AXP,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
BA,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
BAC,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
BIIB,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
BK,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
BLK,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
BMY,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
C,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
CAT,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
CELG,"lazy-loading dict with keys = ['currency', 'da...","Empty DataFrame Columns: [Open, High, Low, Clo...","Empty DataFrame Columns: [Open, High, Low, Clo..."
CL,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
KO,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
LLY,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
LMT,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
MO,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
MON,"lazy-loading dict with keys = ['currency', 'da...","Empty DataFrame Columns: [Open, High, Low, Clo...","Empty DataFrame Columns: [Open, High, Low, Clo..."
MRK,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
PEP,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
PFE,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
PG,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
PM,"lazy-loading dict with keys = ['currency', 'da...",Open Hi...,Open Hig...
PYPL,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
QCOM,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
RTN,"lazy-loading dict with keys = ['currency', 'da...","Empty DataFrame Columns: [Open, High, Low, Clo...","Empty DataFrame Columns: [Open, High, Low, Clo..."
RY.TO,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
SHOP.TO,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
T.TO,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
TD.TO,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...
TXN,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
UNH,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
UNP,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
UPS,"lazy-loading dict with keys = ['currency', 'da...",Open H...,Open H...
USB,"lazy-loading dict with keys = ['currency', 'da...",Open Hig...,Open Hig...

In [38]:
minVolume = 150000
allowed_currencies = ["USD", "CAD"]
threshold_day = 18
days_in_month = []

CAD_stocks = []
USD_stocks = []
all_stocks = []

for ticker in tickers_df.index:
    if tickers_df['History'][ticker].empty:
        print(ticker, "is delisted.")
    else:
        group_months = tickers_df["History"][ticker].reset_index().groupby(pd.Grouper(key="Date", freq='M'))
        dfs = [group for _, group in group_months]
        for i, df in enumerate(dfs):
            #recombine all the months with more trading days than set threshold
            if len(df.index) >= threshold_day:
                days_in_month.append(len(df.index))

        if tickers_df['Info'][ticker]['currency'] not in allowed_currencies:
            print(ticker, "is not in USD or CAD")
        elif tickers_df['History'][ticker]['Volume'].mean() * (np.mean(days_in_month)) < minVolume:
            print(ticker, "only has a volume of", tickers_df.iloc['Info'][ticker]['lastVolume'], "and average days of", np.mean(days_in_month))
        else:
            all_stocks.append(ticker)
            if tickers_df['Info'][ticker]['currency'] == 'USD':
                USD_stocks.append(ticker)
            elif tickers_df['Info'][ticker]['currency'] == 'CAD':
                CAD_stocks.append(ticker)
                                
print("\nValid CAD Stocks:\n",CAD_stocks)
print("\nValid USD Stocks:\n",USD_stocks)
print("\nValid All Valid Stocks:\n", all_stocks)

AGN is delisted.
CELG is delisted.
MON is delisted.
RTN is delisted.

Valid CAD Stocks:
 ['RY.TO', 'SHOP.TO', 'T.TO', 'TD.TO']

Valid USD Stocks:
 ['AAPL', 'ABBV', 'ABT', 'ACN', 'AIG', 'AMZN', 'AXP', 'BA', 'BAC', 'BIIB', 'BK', 'BLK', 'BMY', 'C', 'CAT', 'CL', 'KO', 'LLY', 'LMT', 'MO', 'MRK', 'PEP', 'PFE', 'PG', 'PM', 'PYPL', 'QCOM', 'TXN', 'UNH', 'UNP', 'UPS', 'USB']

Valid All Valid Stocks:
 ['AAPL', 'ABBV', 'ABT', 'ACN', 'AIG', 'AMZN', 'AXP', 'BA', 'BAC', 'BIIB', 'BK', 'BLK', 'BMY', 'C', 'CAT', 'CL', 'KO', 'LLY', 'LMT', 'MO', 'MRK', 'PEP', 'PFE', 'PG', 'PM', 'PYPL', 'QCOM', 'RY.TO', 'SHOP.TO', 'T.TO', 'TD.TO', 'TXN', 'UNH', 'UNP', 'UPS', 'USB']

In [53]:
stock_stds = []
stocks_df = pd.DataFrame()

##Retreiving CADUSD currency conversion data
exchange = yf.Ticker('CADUSD=x')
exchange_hist = exchange.history(start=start_date, end=end_date)

exchange_hist.index = pd.to_datetime(exchange_hist.index)
exchange_hist.index = exchange_hist.index.date

##Debugging
# print(tickers_df['History']['AAPL']['Close'].iloc[0])
# print(exchange_hist.Close.iloc[1])
# print(tickers_df['History']['AAPL']['Close'].iloc[0] * (1/exchange_hist.Close.iloc[1]))

##Creating dataframe for all stocks closing prices in CAD
for ticker in tickers:
    currCurrency = tickers_df['Info'][ticker]['currency']
    currClose = tickers_df['History'][ticker]['Close']
    
    ##changing stock index to match with CADUSD conversion index
    currClose.index = pd.to_datetime(currClose.index)
    currClose.index = currClose.index.date
    
    ##make sure all stocks are priced in CAD
    if currCurrency == "USD":                                       
        stocks_df[ticker] = currClose * (1/exchange_hist.Close)
    else:
        stocks_df[ticker] = currClose
        
    ##Making list of 
    stocks_df = stocks_df.dropna()
    
stocks_df
##reason to keep all stocks in the same currency is to increase accuracy of the correlation calculations

,AAPL,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BIIB,...,QCOM,RY.TO,SHOP.TO,T.TO,TD.TO,TXN,UNH,UNP,UPS,USB
2023-01-03,168.639813,211.621976,145.665504,360.714605,83.711194,116.363344,196.572718,264.929315,44.415907,369.659044,...,142.464875,122.739281,48.790001,25.214359,84.689217,214.563573,695.157322,276.074091,228.572651,57.969782
2023-01-04,171.825503,215.140095,149.087180,362.538230,85.669408,116.421281,202.849763,278.459358,45.635063,370.308280,...,149.477481,123.832161,50.610001,25.520916,85.790451,224.286735,681.944918,280.644092,232.919637,60.282250
2023-01-05,167.653624,211.907267,146.484501,349.084989,84.022259,112.088154,195.258880,276.431070,44.912033,366.241823,...,144.596183,123.467865,48.830002,25.492178,84.384216,218.257935,653.136830,268.617178,225.459282,58.984097
2023-01-06,174.786446,217.070903,149.331011,359.336990,85.871862,116.723626,201.356804,288.825880,45.611842,378.660220,...,153.292806,125.040100,49.560001,25.884954,84.345154,230.288868,656.813389,281.984540,233.373965,60.142445
2023-01-09,173.887157,208.759965,147.720630,362.036627,84.185858,117.369912,199.810640,280.217986,44.509442,369.091829,...,150.921812,125.970016,49.810001,25.827475,84.081490,230.151097,650.852846,278.666550,234.768300,59.975385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-24,237.100988,200.276445,129.780668,405.302802,81.953050,175.979357,197.689320,249.623493,34.864609,345.100783,...,149.738504,109.029999,71.870003,22.360001,76.830002,199.284689,718.646268,281.216554,202.030681,42.968202
2023-10-25,234.809448,199.610478,128.580154,402.189148,83.768794,166.809285,197.219453,244.229456,35.109788,339.032764,...,143.984486,109.110001,66.900002,22.280001,76.919998,193.072336,728.593420,282.005123,199.568144,42.997469
2023-10-26,230.053533,200.418114,129.719665,403.099924,83.990649,165.041283,197.850774,247.196144,36.053178,332.760333,...,145.786241,110.209999,64.529999,22.320000,77.410004,196.970043,729.290041,279.149871,188.561638,43.851816
2023-10-27,232.073362,191.917889,128.262986,400.661261,82.234739,176.460030,195.205627,248.223765,34.769838,323.965929,...,147.063840,108.470001,64.349998,22.010000,76.160004,195.910134,724.765275,278.656005,184.098169,42.326094
2023-10-30,235.769201,196.707778,128.929617,405.781727,84.566738,183.981187,198.620934,252.799102,35.615075,328.853714,...,149.489042,110.120003,64.860001,22.360001,77.190002,194.780766,734.746308,285.308770,190.169159,43.406304

In [60]:
##std-dataframe function

def stds(dataframe):
    
    ##define variables
    stock_stds = []
    stock_list = sorted(dataframe)
    
    ##append each stock's percent std to a list
    for stock in stock_list:
        currPctChange = dataframe[stock].pct_change() * 100
        stock_stds.append(currPctChange.std())
        
    ##make dataframe with stock names as indexes with their associated std vlaue   
    stock_stds = pd.DataFrame(stock_stds, columns=['stds'])
    stock_stds.index = stock_list
    
    return stock_stds
    
    
stds(stocks_df)

             stds
AAPL     1.340554
ABBV     1.339442
ABT      1.310785
ACN      1.503596
AIG      1.798249
AMZN     2.207021
AXP      1.714515
BA       1.801327
BAC      1.666901
BIIB     1.344842
BK       1.632986
BLK      1.353432
BMY      1.197838
C        1.632033
CAT      1.797917
CL       1.144026
KO       0.929395
LLY      1.909456
LMT      1.226787
MO       1.159519
MRK      1.299409
PEP      1.013385
PFE      1.417919
PG       1.005913
PM       1.115805
PYPL     2.273251
QCOM     2.089310
RY.TO    0.920668
SHOP.TO  3.555435
T.TO     1.044786
TD.TO    1.074675
TXN      1.574379
UNH      1.492934
UNP      1.635575
UPS      1.527883
USB      2.591007

In [41]:
marketTicker = yf.Ticker("^GSPC")
marketHist = marketTicker.history(start=long_start_date, end=end_date)

beta = {}

def beta_volatility(ticker):
    prices = pd.DataFrame(tickers_df["Long History"][ticker]["Close"])
    prices.columns = [ticker]
    prices["Market"] = marketHist['Close']

    monthly_change = prices.resample("M").ffill().pct_change()
    monthly_change = monthly_change.drop(index=monthly_change.index[0])

    return (monthly_change.cov()/monthly_change["Market"].var()).iat[0, 1]


for ticker in (CAD_stocks + USD_stocks):
    beta[ticker] = beta_volatility(ticker)

sorted(beta.items(), key=lambda x:x[1], reverse=True)

[('SHOP.TO', 1.8105683661552794),
 ('C', 1.5566634317121193),
 ('BA', 1.4762120449107932),
 ('BAC', 1.3851005410313906),
 ('PYPL', 1.3792816900669551),
 ('AAPL', 1.3036343423234005),
 ('BLK', 1.2835915620914342),
 ('ACN', 1.2304499696646862),
 ('QCOM', 1.2167440280902886),
 ('AXP', 1.214661617953221),
 ('AMZN', 1.1719942897819302),
 ('UPS', 1.1049469195411212),
 ('UNP', 1.1025179631359718),
 ('BK', 1.0953383342895933),
 ('CAT', 1.0879436391672277),
 ('AIG', 1.0351013711860368),
 ('USB', 1.0267306292211276),
 ('TXN', 1.0168275067562518),
 ('PM', 0.7766932104522545),
 ('ABT', 0.6933947495669478),
 ('MO', 0.6535226665343302),
 ('TD.TO', 0.6386755306288474),
 ('UNH', 0.6321135321011161),
 ('PFE', 0.6305322876632932),
 ('LMT', 0.5987250255621265),
 ('KO', 0.5908109226473808),
 ('PEP', 0.5726425561843198),
 ('RY.TO', 0.566445158800725),
 ('ABBV', 0.5070224418611332),
 ('PG', 0.4747915036763714),
 ('CL', 0.460666803679513),
 ('T.TO', 0.4596694471188695),
 ('BMY', 0.3853919135881933),
 ('MRK', 0.3645264390793805),
 ('LLY', 0.32391634279378206),
 ('BIIB', 0.09972287998626737)]

In [42]:
corr_d

NameError: name 'USD_prices' is not defined

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.